@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.gallery-container {
  text-align: center;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.gallery-title {
  text-align: center;
  font-size: 3.5rem;
  padding-top: 1rem;
padding-bottom: 3rem;
}

.filters {
  margin: 3rem 0;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.filter-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.4rem;
}

.filters select {
  padding: 1rem;
  border: none;
  width: 17rem;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.product-boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.product-box-link {
  text-decoration: none;
  color: black;
}

.product-box img {
  max-width: 100%;
  height: auto;
}

/* ... (previous styles) */

.product-box {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-details {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;

}

.name-rating {
  display: flex;
  flex-direction: column;
}

.name-rating p {
margin: 0;
text-align: left;

}

.star-rating {
  color: #FFD700; /* Gold color for stars */
  display: flex;
  font-size: 1.3rem;
}

.star-filled {
  color: #FFD700;
}

.star-empty {
  color: #ccc;
}

.price p{
  margin: 0;
  font-weight: bold;
}
