/* src/components/Home.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.home-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-land {
  background-image: url(../../public/assets/background-image.png); /* Replace with your actual background image path */
  background-size: cover;
  color: white;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

.home-land h2, h6{
  margin: 0;
}

.home-land h6{
  margin: 0;
  font-weight: normal;
}

.featured-artworks {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5rem;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 30px; /* Adjust the gap between media items */
  scroll-behavior: smooth;
}

.wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for webkit-based browsers */
}

.item {
  flex: 0 0 auto;
  width: 360px; /* Set the width of each media item */
  height: 460px; /* Set the height of each media item */
  overflow: hidden; /* Hide overflowing content within each media item */
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-artworks h2{
  text-align: center;
  font-size: 3.15rem;
}

.about-us {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5rem;   
}

.about-us h2{
  text-align: center;
  font-size: 3.15rem;
}

.about-us p{
  text-align:justify;
  font-size: 1.3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.shop-by-category {
  /* Add your styles */
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5rem;
}

.shop-by-category h2{
  text-align: center;
  font-size: 3.15rem;
}

.category-button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.category-button {
  height: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-size: contain;
}

#category-button-1 {
  background-image: url(../../public/assets/category-button-1.png);
}

#category-button-2 {
  background-image: url(../../public/assets/category-button-2.png);
}

#category-button-3 {
  background-image: url(../../public/assets/category-button-3.png);
}

#category-button-4 {
  background-image: url(../../public/assets/category-button-4.png);
}

.category-button:hover {
  background-size:auto;
  background-position: center;
  transition: transform 0.4s ease;
}

#category-button-1:hover {
  background-image: url(../../public/assets/category-button-1-1.png);
}

#category-button-2:hover {
  background-image: url(../../public/assets/category-button-2-1.png);
}

#category-button-3:hover {
  background-image: url(../../public/assets/category-button-3-1.png);
}

#category-button-4:hover {
  background-image: url(../../public/assets/category-button-4-1.png);
}

.artist-spotlight {
  /* Add your styles */
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.artist-spotlight h2{
  text-align: center;
  font-size: 3.15rem;
}

.artist-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 500px;
}

.artist-box h2{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0.9rem;
  margin-top: 2.5rem;
}

.artist-box p{
  font-size: 1.3rem;
  text-align: justify;
}

.artist-description {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
}

#artist-box-2 {
  margin-top: 2.5rem;
}

.customer-feedback {
  /* Add your styles */
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5rem;
}

.customer-feedback h2{
  text-align: center;
  font-size: 3.15rem;
}
