/* Signin.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;/* Change the background color as needed */
    background-image: url(../../public/assets/background-image.png);
    background-size: cover;
    flex-direction: column;
  }
  
  .signin-box {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent box */
    padding: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100px; /* Adjust the logo size */
    height: auto;
  }
  
  .signin-text {
    color: #ffffff; /* White text color */
    font-size: 1.5rem; /* Regular size */
  }
  
  .input-field {
    width: 25rem;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-button {
    background-color: gold; /* Yellow button */
    color: #000000; /* Black text */
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
  }
  
  .login-button:hover {
    background-color: gold; /* Hover color */
  }

  .signin-container p{
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  .signin-link {
    color: gold;
    font-family: 'Poppins', sans-serif;
  }
  
  